* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ff02ee;
    color: #ff0000;
    margin: 20px;
}

header {
    text-align: center;
    background-color: #22ff00;}
#result {
    margin-top: 20px;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    color: #87fff5;
}

/* round-color: #4ae34f;
    color: white;
    padding: 20px;
    border-radius: 8px;
} */

h1 {
    margin-bottom: 10px;
}
h2 {
    margin-top: 20px;
    color: #ae7fff;
}

section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(255, 225, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ff0000;
}

button {
    background-color: #00fbff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #bf00ff;
}


